<%= render partial: "shared/nav" %>

<h2>Upcoming Holidays</h2>
<% @upcoming_holidays.each do |holiday| %>
  <%= holiday.name %> - <%= holiday.date %><br>
<% end %>
<br>

<%= link_to "New Promotion", new_merchant_bulk_discount_path(@merchant)%>
<% @discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <p><%= link_to "Promotion ##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %></p>
    <p><%= discount.percentage %>% off bulk purchases of <%= discount.quantity %> or more items</p>
    <p><%= button_to "Delete Promotion ##{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :delete %>
    <br>
  </div>
<% end %>